.editing {
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  color: white;
}

.editing button {
  margin: 0 0.2rem;
  height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5rem;
}

.editing input {
  margin-right: 0.2rem;
  width: 40rem;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 1rem;
}
