@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #3f3f3f;
}

.own-message button:hover,
.message-input-button:hover,
.editing button:hover {
  opacity: 0.76;
  transition: 0.1s ease-in-out all;
  color: darkcyan;
}
