@keyframes load-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
