.own-messages-date {
  font-size: 0.75rem;
  margin: 0.92rem 0 0 45%;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  color: white;
}

.own-message {
  margin: 0.92rem 0 0 75%;

  color: rgb(200, 207, 207);
}

.own-message button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 4rem;
}

.message-delete {
  margin: 0.2rem 0 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  color: white;
}
