.message p {
  margin: 0.5rem 0;
}

.message-text {
  color: rgba(35, 218, 80, 0.904);
}

.message-time {
  color: white;
}

.message img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.message svg {
  height: 1.8rem;
  width: 1.8rem;
  color: white;
}

.message-user-name {
  font-weight: 700;
  color: darkcyan;
}

.messages-date {
  font-size: 0.75rem;
  margin: 1.5rem 0 1rem 45%;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  color: white;
}

.message-like {
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.like-active {
  font-weight: 900;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
