.message-input {
  margin-top: 1rem;
}

.message-input-text {
  width: 40rem;
  height: 2rem;
  outline: none;
  border: none;
  margin-left: 1rem;
  padding-left: 1rem;
}

.message-input-button {
  height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5rem;
}
