.login-field {
  display: flex;
  flex-direction: column;
}

.login-field > input {
  margin-bottom: 10px;
}

.sendl {
  width: 50%;
  align-self: flex-end;
  font-weight: 500;
  text-align: center;
  height: 20px;
}

.login-field > span {
  color: white;
  margin-bottom: 5px;
  font-size: 10px;
}