.user-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-auto-columns: 80vw;
  justify-self: flex-start;
  margin: 20px 0;
}

.user-list > div {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dashed grey;
  margin-bottom: 3px;
}

.user-list > div > span {
  margin: 0 10px;
  width: 30%;
  max-width: 30%;
}

.user-list > div > div {
  display: inline;
  margin: 0 10px;
  width: 10%;
}

.size30 {
  font-size: 30px;
}

.small {
  font-size: 10px;
}

.head1 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weight6 {
  font-weight: 600;
}

.btn {
  border: 1px solid lightblue;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.edit-user {
  background: rgb(136, 252, 145);
}

.delete {
  background: rgb(255, 103, 98);
}

.userEditor {
  width: 50vw;
  background: #fff;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.userEditor > span {
  margin: 5px;
}

.userEditor > input {
  margin: 5px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.btns > div {
  width: 25%;
}

div > a {
  display: block;
  width: 100%;
  height: 100%;
}


@media (max-width: 960px) {
  .user-list {
    grid-auto-columns: 100vw;
  }
} 