.sendBtn {
  width: 20%;
  height: 95%;
  background: var(--yellow-color);
  cursor: pointer;
  border: 1px solid rgb(177, 177, 238);
  user-select: none;
  font-weight: 600;
}

.width99 {
  width: 99%;
  margin: 3px 0;
  overflow: hidden;
}
