.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

.header-title {
  margin: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.header-last-message-date {
  margin-right: auto;
}

.header-container {
  display: flex;
  margin-bottom: 1rem;
  margin: auto;
}

.header-container span {
  color: rgb(200, 207, 207);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.header-container h3 {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color: rgba(20, 175, 236, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
